/* --------------------- custome scrollbar css ---------------------- */
/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #424d7917;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424d7930;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #424d793a;
}

/* --------------------------------------  commncomponent css --------------- */

.three-dot-text {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.three-dot-text-title {
    display: inline-block;
    width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.css-1bwc6vp-MuiTable-root {
    border: 1px solid #80808036;
}

.css-1bwc6vp-MuiTable-root tbody tr td {
    text-transform: none !important;
    padding-left: 0px !important;
    /* padding-top: 10px !important;
    padding-bottom: 10px !important; */
}



.css-1bwc6vp-MuiTable-root tbody tr td:first-child {
    text-transform: none;
    padding-left: 20px !important;
    /* padding-top: 10px !important; */
    /* padding-bottom: 10px !important; */
}

.css-1bwc6vp-MuiTable-root thead tr th {
    text-transform: none !important;
    padding-left: 0px !important;
}

.css-1bwc6vp-MuiTable-root thead tr th:first-child {
    text-transform: none !important;
    padding-left: 20px !important;
}

.css-1bwc6vp-MuiTable-root thead tr {
    background: #424d7924 !important;
}

.css-1bwc6vp-MuiTable-root thead tr th {
    font-weight: 500 !important;
    font-size: 14px !important;
}

.css-1htgh2s-MuiTableCell-root {
    padding: 4px 0px 4px 0px !important;
    text-align: start;
    vertical-align: middle;
}

.css-1o83ncy-MuiTableCell-root {
    text-align: start;
    vertical-align: middle;
}

.main-modal-fix-tabel thead {
    position: sticky;
    top: 0px;
    z-index: 999;
}


.text-error {
    font-size: 12px;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #ff3d57;
}

.label-class {
    font-size: 14px;
    color: #5f5d5d;
}

.css-1nmdiq5-menu {
    z-index: 999 !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    border-bottom: 1px solid #8080803b !important;
    margin-bottom: 20px !important;
    font-size: 20px !important;
    padding: 14px 0px 12px 30px !important;
    background: #424d7916 !important;
    color: #222a44 !important;
}

.css-o34k1g-MuiPaper-root-MuiDialog-paper {
    border-radius: 0px !important;
}

.css-rgpb1g-MuiDialogActions-root {
    border-top: 1px solid #8080802c !important;
    padding-top: 18px;
}

.text-input-top {
    margin-top: 15px !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    padding-left: 2px;
    padding-right: 10px;
}

.css-12r29k6-MuiSlider-markLabel {
    /* color: rgb(58 50 115 / 97%) !important; */
    font-size: 13px !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: transparent !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.span-permision {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.common-width-apply-th {
    width: 235px !important;
}

.thead-second-width-address {
    width: 110px !important;
}

.thead-second-width {
    width: 150px !important;
}

.thead-second-width-stock-no {
    width: 200px !important;
}

.thead-second-width-action {
    width: 65px !important;
}

.thead-second-width-action-index {
    width: 90px !important;
}

.three-dot-text-title-stock-no {
    display: inline-block;
    width: 190px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.thead-second-width-title {
    width: 400px !important;
}

.thead-second-width-title-email {
    width: 300px !important;
}

.thead-second-width-title-answer {
    width: 350px !important;
}

.thead-second-width-title-blog {
    width: 700px !important;
}

.thead-second-width-title-option {
    width: 600px !important;
}

.thead-second-width-title-subcategory {
    width: 500px !important;
}

.common-thead-second-width-title-subcategory {
    display: inline-block;
    width: 495px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.common-thead-second-width-title-option {
    display: inline-block;
    width: 595px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.common-thead-second-width-title {
    display: inline-block;
    width: 395px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.common-thead-second-width-title-answer {
    display: inline-block;
    width: 340px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.common-thead-second-width-title-blog {
    display: inline-block;
    width: 690px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.common-width-three-dot-text {
    display: inline-block;
    width: 230px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.errors-message-input input {
    border: 1px solid #ff3d57;
    border-radius: 5px;
}

.flatpickr-input {
    /* width: 300px; */
    width: 100%;
    height: 39px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

.flatpickr-input::placeholder {
    color: #6a6565f9;
    font-weight: 500;
    font-size: 14px;
}

/* -------------------Drop Zone */

/* Style the dropzone area */
.dropzone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-height: 200px;
    /* Adjust the desired height */
}

.dropzone:hover {
    background-color: #eee;
}

/* Style the uploaded image */
.uploaded-image {
    max-width: 100%;
    max-height: 100%;
}

.main-image-box-user img {
    width: 40px !important;
    height: 40px !important;
}

.main-login-text-input input {
    height: 25px;
    font-size: 16px;
}

.main-login-text-input button {
    height: 45px !important;
    font-size: 17px;
    font-weight: 500;
    background-color: #49449f;
    /* background-color: #222a44e7; */
}

.main-login-text-input input::placeholder {
    font-size: 16px;
}