.three-dot-text {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.css-1bwc6vp-MuiTable-root tbody tr td {
    text-transform: none !important;
}